@import 'https://fonts.googleapis.com/css?family=ABeeZee';
@import 'https://fonts.googleapis.com/css?family=Josefin+Slab';
body {
    width: 50%;
    margin: 0 auto;
    font-family: 'ABeeZee', sans-serif;
}
.content {
    background-color: #3c3c3c;
    color: white;
    padding-left: 14px;
    padding-right: 14px;
}
.content h1 {
    text-align: center;
    padding-top: 25px;
}
.content ol a {
    color: white;
    text-decoration: underline;
}
.content code {
    font-family: 'Josefin Slab', serif;
}
